<!doctype html>
<html lang="en-us">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="mobile-web-app-capable" content="yes">
    <title><%= htmlWebpackPlugin.options.profile.title %></title>
    <meta name="description" content="<%= htmlWebpackPlugin.options.profile.metaDescription %>">
    <link rel="canonical" href="<%= htmlWebpackPlugin.options.contact.website %>" />
    <meta name="google-site-verification" content="oM1NjzxvtvPp4JL2t2qo13zUhGnrpGF0Fbgyb6S8vDk" />
    <link rel="publisher" href="https://plus.google.com/110617470325528028773/">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image ">
    <meta name="twitter:site" content="<%= htmlWebpackPlugin.options.contact.twitterHandle %>">
    <meta name="twitter:title" content="<%= htmlWebpackPlugin.options.profile.title %>">
    <meta name="twitter:description" content="<%= htmlWebpackPlugin.options.profile.metaDescription %>">
    <meta name="twitter:creator" content="<%= htmlWebpackPlugin.options.contact.twitterHandle %>">
    <meta name="twitter:image" content="%IMAGE_PATH%/twitter-card.jpg">

    <!-- Open Graph data -->
    <meta property="og:title" content="<%= htmlWebpackPlugin.options.profile.title %>">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= htmlWebpackPlugin.options.contact.website %>">
    <meta property="og:image" content="%IMAGE_PATH%/facebook.jpg">
    <meta property="og:description" content="<%= htmlWebpackPlugin.options.profile.metaDescription %>">
    <meta property="og:site_name" content="<%= htmlWebpackPlugin.options.profile.title %>">
    <meta property="fb:admins" content="812785510">

    <!-- Structured Schema.org Markup -->
    <script type="application/ld+json">
    {
      "@context" : "http://schema.org",
      "@type" : "Person",
      "name" : "<%= htmlWebpackPlugin.options.profile.fullName %>",
      "description" : "<%= htmlWebpackPlugin.options.profile.description %>",
      "image" : "%IMAGE_PATH%/google-plus.jpg",
      "jobTitle" : "<%= htmlWebpackPlugin.options.profile.description %>",
      "url" : "<%= htmlWebpackPlugin.options.contact.website %>",
      "email" : "<%= htmlWebpackPlugin.options.contact.email %>",
      "telephone" : "<%= htmlWebpackPlugin.options.contact.phonedisplay %>",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "<%= htmlWebpackPlugin.options.location.housenumber %> <%= htmlWebpackPlugin.options.location.street %>",
        "addressLocality": "<%= htmlWebpackPlugin.options.location.city %>",
        "addressRegion": "<%= htmlWebpackPlugin.options.location.state %>",
        "postalCode": "<%= htmlWebpackPlugin.options.location.zipcode %>"
      },
      "sameAs" : [
        "<%= htmlWebpackPlugin.options.contact.linkedin %>",
        "<%= htmlWebpackPlugin.options.contact.github %>",
        "<%= htmlWebpackPlugin.options.contact.twitter %>",
        "<%= htmlWebpackPlugin.options.contact.instagram %>",
        "<%= htmlWebpackPlugin.options.contact.flickr %>",
        "<%= htmlWebpackPlugin.options.contact.stackoverflow %>",
        "<%= htmlWebpackPlugin.options.contact.pinterest %>",
        "<%= htmlWebpackPlugin.options.contact.fivehundred %>"
      ]
    }
    </script>
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "<%= htmlWebpackPlugin.options.profile.fullName %>",
      "alternateName": "<%= htmlWebpackPlugin.options.profile.firstName %>",
      "url": "<%= htmlWebpackPlugin.options.contact.website %>"
    }
    </script>
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "url": "<%= htmlWebpackPlugin.options.contact.website %>",
      "logo": "%IMAGE_PATH%/google-plus.jpg",
      "contactPoint" : [{
        "@type" : "ContactPoint",
        "telephone" : "<%= htmlWebpackPlugin.options.contact.phone %>",
        "contactType" : "technical support"
      }]
    }
    </script>

    <!-- icons -->
    <link rel="apple-touch-icon" sizes="57x57" href="%IMAGE_PATH%/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="%IMAGE_PATH%/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="%IMAGE_PATH%/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="%IMAGE_PATH%/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="%IMAGE_PATH%/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="%IMAGE_PATH%/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="%IMAGE_PATH%/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="%IMAGE_PATH%/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="%IMAGE_PATH%/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="%IMAGE_PATH%/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="%IMAGE_PATH%/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="%IMAGE_PATH%/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="%IMAGE_PATH%/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="%IMAGE_PATH%/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- core CSS -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,300italic,700,700italic|Playfair+Display:700" rel="stylesheet" type="text/css">

  </head>

  <body>
    <div id="main"></div>
  </body>
</html>
