---
import { careers } from '@/constants';
---

<main>
  <nav>
    {careers.map((career) => <a href={`#${career.location}`}>{career.location}</a>)}
  </nav>
  {
    (
      <div>
        {careers.map((career) => (
          <section class="fade-out">
            <h2>{career.location}</h2>
            <h3>{career.title}</h3>
            {career.description && <p>{career.description}</p>}
            {career.accomplishments && (
              <ul>
                {career.accomplishments.map((accomplishment) => (
                  <li>{accomplishment}</li>
                ))}
              </ul>
            )}
          </section>
        ))}
      </div>
    )
  }
</main>

<style>
  main {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    grid-column-gap: var(--size-sm);
    grid-row-gap: var(--size-sm);
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }
  nav,
  section {
    display: flex;
    flex-direction: column;
    gap: var(--size-sm);
  }
  nav {
    position: sticky;
    top: 0;
  }
</style>
