---
import { careers } from '@/constants';
---

<main class="container">
  <nav>
    {careers.map((career) => <a href={`#${career.location}`}>{career.location}</a>)}
  </nav>
  {
    (
      <div>
        {careers.map((career) => (
          <section class="fade-out">
            <h2>{career.location}</h2>
            <h3>{career.title}</h3>
            {career.description && <p>{career.description}</p>}
            {career.accomplishments && (
              <ul>
                {career.accomplishments.map((accomplishment) => (
                  <li>{accomplishment}</li>
                ))}
              </ul>
            )}
          </section>
        ))}
      </div>
    )
  }
</main>

<style>
  nav,
  section {
    display: flex;
    flex-direction: column;
    gap: var(--size-sm);
  }
</style>
