-var profile = htmlWebpackPlugin.options.resume.profile
-var contact = htmlWebpackPlugin.options.resume.contact
-var location = htmlWebpackPlugin.options.resume.location

doctype html
html(lang='en-us')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=Edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
    meta(name='mobile-web-app-capable', content='yes')
    link(rel='manifest', href='%PUBLIC_URL%/meta/manifest.json')
    link(rel='shortcut icon', href='%PUBLIC_URL%/meta/favicon.ico')
    title #{profile.title}
    meta(name='description', content=profile.metaDescription)
    link(rel='canonical', href=contact.website)
    meta(name='google-site-verification', content='oM1NjzxvtvPp4JL2t2qo13zUhGnrpGF0Fbgyb6S8vDk')
    link(rel='publisher', href='https://plus.google.com/110617470325528028773/')
    meta(name='twitter:card', content='summary_large_image')
    meta(name='twitter:site', content=contact.twitterHandle)
    meta(name='twitter:title', content=profile.title)
    meta(name='twitter:description', content=profile.metaDescription)
    meta(name='twitter:creator', content=contact.twitterHandle)
    meta(name='twitter:image', content='%PUBLIC_URL%/meta/twitter-card.jpg')
    meta(property='og:title', content=profile.title)
    meta(property='og:type', content='website')
    meta(property='og:url', content=contact.website)
    meta(property='og:image', content='%PUBLIC_URL%/meta/facebook.jpg')
    meta(property='og:description', content=profile.metaDescription)
    meta(property='og:site_name', content=profile.title)
    meta(property='fb:admins', content='812785510')
    script(type='application/ld+json').
      {
        "@context": "http://schema.org",
        "@type": "Person",
        "name": "#{profile.fullName}",
        "description": "#{profile.description}",
        "image": "#{googlePlusImage}",
        "jobTitle": "#{profile.description}",
        "url": "#{contact.website}",
        "email": "#{contact.email}",
        "telephone": "#{contact.phonedisplay}",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "#{location.houseNumber} #{location.street}",
          "addressLocality": "#{location.city}",
          "addressRegion": "#{location.state}",
          "postalCode": "#{location.zipcode}"
        },
        "sameAs": [
          "#{contact.linkedin}",
          "#{contact.github}",
          "#{contact.twitter}",
          "#{contact.instagram}",
          "#{contact.flickr}",
          "#{contact.stackoverflow}",
          "#{contact.pinterest}",
          "#{contact.fivehundred}"
        ]
      }
    script(type='application/ld+json').
      {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "name": "#{profile.fullName}",
        "alternateName": "#{profile.firstName}",
        "url": "#{contact.website}"
      }
    script(type='application/ld+json').
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "url": "#{contact.website}",
        "logo": "%PUBLIC_URL%/meta/google-plus.jpg",
        "contactPoint": [
          {
            "@type" : "ContactPoint",
            "telephone" : "#{contact.phone}",
            "contactType" : "technical support"
          }
        ]
      }
    link(rel="stylesheet"
      type="text/css"
      href="https://fonts.googleapis.com/css?family=Lato:300,300italic,700,700italic|Playfair+Display:700")
  body
    noscript You need to enable JavaScript to run this app.
    //- noscript
    //-   iframe(src='//www.googletagmanager.com/ns.html?id=GTM-N2C864', height='0', width='0', style='display:none;visibility:hidden')
    //- script.
    //-   (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    //-   new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    //-   j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    //-   '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    //-   })(window,document,'script','dataLayer','GTM-N2C864');
    main#root
