---
import '@fontsource/league-gothic';
import '@fontsource/open-sans';
import '../styles/global.css';

import { SEO } from 'astro-seo';

const fullName = 'Derek Misler';
const description =
  'Discover the world of Derek Misler, a seasoned front-end engineer with a flair for design. Dive into a portfolio showcasing over 15 years of creating accessible, high-quality web applications and designs that blend functionality with aesthetics.';
const socialTitle =
  'A seasoned front-end engineer and design enthusiast, dedicated to creating accessible and engaging web experiences, with a keen eye for UI/UX and typography.';
const url = Astro.url.href;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <SEO
      title={fullName}
      titleTemplate="%s | Front-end engineer and, occasionally, a designer"
      description={description}
      openGraph={{
        basic: {
          type: 'website',
          title: `${fullName} | ${socialTitle}`,
          image: `${url}square.jpg`,
        },
        optional: { description },
      }}
      twitter={{
        card: 'summary_large_image',
        title: `${fullName} | ${socialTitle}`,
        description,
        image: `${url}horizontal.jpg`,
      }}
      extend={{
        link: [{ rel: 'icon', href: `${url}favicon.ico` }],
        meta: [{ name: 'google-site-verification', content: 'oM1NjzxvtvPp4JL2t2qo13zUhGnrpGF0Fbgyb6S8vDk' }],
      }}
    />
  </head>
  <body>
    <slot />
  </body>
</html>
