---
import '../styles/global.css';

import { SEO } from 'astro-seo';

import { fullName, description, headline } from '../constants';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <SEO
      title={fullName}
      titleTemplate="%s | Front-end engineer and, occasionally, a designer"
      description={description}
      openGraph={{
        basic: {
          type: 'website',
          title: `${fullName} | ${headline}`,
          image: `${Astro.url.href}square.jpg`,
        },
        optional: { description },
      }}
      twitter={{
        card: 'summary_large_image',
        title: `${fullName} | ${headline}`,
        description,
        image: `${Astro.url.href}horizontal.jpg`,
      }}
      extend={{
        link: [{ rel: 'icon', href: `${Astro.url.href}favicon.ico` }],
        meta: [{ name: 'google-site-verification', content: 'oM1NjzxvtvPp4JL2t2qo13zUhGnrpGF0Fbgyb6S8vDk' }],
      }}
    />
  </head>
  <body>
    <slot />
  </body>
</html>
